{% extends 'ourapp/master.html' %}
{% block page_title %}Kravester{% endblock %}
{% block page_header %}{% include "ourapp/splash_search.html" %}{%endblock%}
{% block main_content %}
{% load staticfiles %}
<script src="{% static 'js/restaurant.js'%}"></script>
<script src="{% static 'js/results.js'%}"></script>
<script type="text/javascript">$(document).ready(function() {
var width = $( document ).width();       
	$("#search_masthead").css("width", width+"px"); });</script>

<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">Search Results <span id="num_results"></span></div>
		<div class="panel-body">
			<span id="andQuery"></span>	
			<ul class="list-group" style="" id="andResults"><li class="list-group-item">Search For the Food You Krave</li></ul>
			<span id="orQuery"></span>
		<ul class="list-group" style="" id="orResults"><li class="list-group-item"></li></ul>
	</div>
	</div>
</div>
{% endblock %}
