.masthead
{
background-image:url("../img/kerbeylane.jpg");
background-position:left bottom;
}
.jumbotron
{
	padding:2%;
}

.masthead img

{
	padding:5%;
	max-height:200px;
}
.gray-overlay
{
background-color:rgba(240, 240, 240, 0.5);
}

.white-overlay
{
padding:1em;
background-color:rgba(255, 255, 255, 0.5);
}

.status-open
{
color:#009933;
}

#main-restaurant
{
margin-bottom:5%;
}

.food-list, .review-list
{
list-style:none;
}

.food-item:hover, .review-item:hover
{
background-color:#f5f5f5;
}

.food-item .food-item-content, .review-item .review-item-content
{
  display:none;
}
.food-item-rating, .food-item-dollars
{
float:right;
}
.food-item-rating
{
margin-right:3%;
}

.close-food-item
{
float:right; padding:2px;
}

#food-carousel {
margin-bottom:1.5%;
height:285px;
max-height:285px;
}
.carousel-caption { display:none;}
