{% extends 'ourapp/master.html' %}
{% block page_title %}About Us{% endblock %}
{% block page_header %}
<div class="jumbotron masthead">
<div class="container gray-overlay">
        <div class="col-md-8"><h1>About Us</h1>
                <p>Alejandro Landaverde, Kevin Wheeler, Mike Wham, Nathan Heskia, Omar Lalani</p>
        </div>
        <div class="col-md-3"><img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfa1/t1.0-9/374006_4185679279222_2125692641_n.jpg" style="width:100%; height:100%"></div></div></div>


{%endblock%}
{% block main_content %}
{% load staticfiles %}
<script src="{% static 'js/restaurant.js'%}"></script>

<div class="container" id="main-content">

	<div class="col-md-3" id="members_account"></div> <!-- end col-md-6 -->
	<div class="col-md-12" id="about_us">
		<p>When aksked, “Hey,what do you want to eat?”, why is it that most people respond with the name of a restaurant or a cuisine instead of the actual dish that they want to eat? Lets face it, you have a craving and nothing else will satisfy it. You may want a chicken quesadilla but you respond “lets eat mexican”. You may want some gourmet pizza but you say “lets eat italian”. Next you start looking up restaurants that serve this particular kind of cuisine and reading their reviews. But the problem is that nobody writes reviews for dishes, they write them for restaurants.</p>
 		<p>Sure, this is helpful in some cases if you want to know how long food takes on average or how friendly the wait staff is, but you aren’t going to eat the restaurant. You’re going to eat the dish. This is what we are setting out to change. A person should be able to look up “alfredo pasta” and get a listing of every restaurant in the area that has either this dish of something similar complete with reviews about the dish. This site will enable people to not only find the closest enchilada, but furthermore the best enchilada.</p>
	    </div>
<div class="col-md-3" id="members_2">
	<h1>Meet the Team</h1>
    <div class="container bio">
      <h2>Omar Lalani</h2>
      <h4>"The Appetizer Sampler"</h4>
      <h6>Phase One Leader</h6>
      <p>Nothing can satisfy Omars appetite for the bigger picture. He likes to sample a bit of all the responsibilities and get a taste for everything in the site. For phase one he worked primarily on the front end and in phase two he worked on testing the API. Phase three he started off trying to convert the site from Django 1.6 to 1.7 and finished off implementing pages that exercise the CRUD operations of the database.</p>
    </div>
    <div class="container bio">
      <h2>Kevin Wheeler</h2>
      <h4>"Mr. All Night"</h4>
      <p>Known for working erratic hours, Kevin has dumped many hours working on the Django models for phase one and also for API testing under phase two. For phase three Kevin used his algorithmic prowess to develop the search algorithm for our site.</p>
    </div>
    <div class="container bio">
      <h2>Nathan Heskia</h2>
      <h4>"RESTful APItizer"</h4>
      <h6>Phase Two Leader</h6>
      <p>Nathan was our goto person for the RESTful API. In phase one he developed our API and continued to expand it through phase two. In phase three Nathan used his honed skills to exercise the API of an affiliated site and and develop test cases for their API.</p>
    </div>
    <div class="container bio">
      <h2>Alex Landaverde</h2>
      <h4>"Chicken and Waffles"</h4>
      <p>Like the dish implies, Alex has developed his skills on both extremes of our site. For phase one Alex focused heavily on the backend and made a transition into the frontend for phase two. For phase three he has yet again diversifed his skill set by working on the search functionality.</p>
    </div>
    <div class="container bio">
      <h2>Mike Wham</h2>
      <h6>Phase Three Leader</h6>
      <h4>"Iron Chef"</h4>
      <p>All great dishes need a maestro chef to make it all come together and look great. Mike has brought together our band of merry kravesters and displayed their work brilliantly on the front end. For all three phases Mike was responsible for bringing together the HTML, Javascript, CSS and JQuery to make our site look great for web and mobile displays.</p>
    </div>
    <h1>Tools Used:</h1>
    <ul>
        <li>Github</li>
        <li>Apiary</li>
        <li>JavaScript/JQuery</li>
        <li>Django</li>
        <li>Django Extensions</li>
        <li>PythonAnywhere</li>
        <li>HTML/CSS</li>
        <li>Beautiful Soup</li>
        <li>Google API</li>
        <li>Twitter API</li>
        <li>Photoshop</li>
    </ul>
</div>




</div>
{% endblock %}
