<!-- This page will be of a single customer, so will have two list dishes and restaurants it has reviewed -->
{% extends 'ourapp/master.html' %}
{% block page_title %}{{customer.name}}{% endblock %}
{% block page_header %}{% include "ourapp/carousel.html" %}{%endblock%}
{% block main_content %}
{% load staticfiles %}
<script src="{% static 'js/restaurant.js'%}"></script>
<!-- First list of all the dish reviews he/she has done -->
<div class="col-md-6" id="reviews">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Dish Reviews</h3>
        </div>
        <div class="panel-body">
<ul class="list-group food-list">
{% if dish_reviews %}
    {% for d in dish_reviews %}
        <li class = "list-group-item review-item"> <a href = "dishes/{{d.dish}}">{{d.dish}}</a>
        <div class = "review-item-content">
            <p>{{d.review_comment}}</p>
            <p><a href = "/dishes/{{d.dish.id}}" class = "review-item-link">Read Reviews</a></p>
        </div>
        </li>
    {% endfor %}
{% else %}
    <p>No Dish Reviews</p>
{% endif %}
</ul>
</div>
</div>
</div> <!-- end col-md-6 -->
<!-- Second list restaurant reviews he/she has done -->
<div class="col-md-6" id="reviews">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Restaurant Reviews</h3>
        </div>
        <div class="panel-body">
<ul class="list-group food-list">
{% if restaurant_reviews %}
    {% for r in restaurant_reviews %}
        <li class = "list-group-item review-item"> <a href = "restaurants/{{r.restaurant}}">{{r.restaurant}}</a>
        <div class = "review-item-content">
            <p>{{r.review_comment}}</p>
            <p><a href = "/restaurants/{{r.restaurant.id}}" class = "review-item-link">Read Reviews</a></p>
        </div>
        </li>
    {% endfor %}
{% else %}
    <p>No Restaurant Reviews</p>
{% endif %}
</ul>
</div>
</div>
</div> <!-- end col-md-6 -->
{% endblock %}