<!-- This is a single dish page, it will have two list of customer reviews and similar dishes -->
{% extends 'ourapp/master.html' %}
{% block page_title %}{{dish.name}}{% endblock %}
{% block page_header %}{% include "ourapp/dish_header.html" %}{%endblock%}
{% block main_content %}
{% load staticfiles %}
<script src="{% static 'js/restaurant.js'%}"></script>
<!-- First list of the customer reviews -->
<div class="col-md-6" id="reviews">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><a href= "reviews">Customer Reviews</a></h3>
        </div>
        <div class="panel-body">
<ul class="list-group food-list">
{% if customer_reviews %}
    {% for dish_review in customer_reviews %}
        <li class = "list-group-item review-item"><strong>{{dish_review.customer}}</strong>
        <div class = "review-item-content">
            <p>{{dish_review.review_comment}}</p>
            <p><a href = "/customers/{{dish_review.customer.id}}" class = "review-item-link">Read Reviews</a></p>
        </div>
        </li>
    {% endfor %}
{% else %}
    <p>No Customers have reviewed this dish</p>
{% endif %}
</ul>
</div>
</div>
</div> <!-- end col-md-6 -->
<!-- Second list of all the similar dishes -->
<div class="col-md-6" id="reviews">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Simliar Dishes</h3>
        </div>
        <div class="panel-body">
<ul class="list-group food-list">
{% if similar_dishes %}
    {% for d in similar_dishes %}
        {% if d != dish %}
            <li class = "list-group-item review-item"><strong>{{d.name}}</strong>
            <div class = "review-item-content">
                <p>{{d.description}}</p>
                <p><a href = "/dishes/{{d.id}}" class = "review-item-link">Go to dish</a></p>
            </div>
            </li>
        {% endif %}
    {% endfor %}
{% else %}
    <p>This dish has no similar dishes in database</p>
{% endif %}
</ul>
</div>
</div>
</div> <!-- end col-md-6 -->
{% endblock%}
