<!-- This page will list all the dishes for a restaurant in our DB-->
{% extends 'ourapp/master.html' %}
{% block page_title %}{{generic_dish_name}}{% endblock %}
{% block page_header %}{% include "ourapp/carousel.html" %}{%endblock%}
{% block main_content %}
{% load staticfiles %}
<script src="{% static 'js/restaurant.js'%}"></script>
<div class="col-md-3" id="dishes">
</div>
<div class="col-md-6" id="dishes">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{generic_dish_name}}</h3>
        </div>
        <div class="panel-body">
<ul class="list-group food-list">
{% if generic_dish_dishes_result %}
    {% for dish in generic_dish_dishes_result %}
        <li class = "list-group-item food-item"><strong>{{dish.name}}</strong>
        <div class="food-item-content">
            <p>{{dish.description}}</p>
                <p><a href="/dishes/{{dish.id}}/reviews" class="menu-item-link">Read Reviews</a></p></div>
        </li>
    {% endfor %}
{% else %}
    <p>No Dishes in this category.</p>
{% endif %}
</ul>
</div>
</div>
</div>
<div class="col-md-3" id="dishes">
</div>
{% endblock %}