{% extends 'ourapp/master.html' %}
{% block page_title %}Restaurants{% endblock %}
{% block page_header %}{% include "ourapp/carousel.html" %}{%endblock%}
{% block main_content %}
{% load staticfiles %}
<script src="{% static 'js/restaurant.js'%}"></script>
<div class="col-md-3">
</div>
<div class="col-md-6" id="reviews">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">All Restaurants</h3>
        </div>
        <div class="panel-body">
<ul class="list-group food-list">
{% if restaurants_result %}
    {% for r in restaurants_result %}
    <li class = "list-group-item food-item"> <strong>{{r.name}}</strong>
        <div class="food-item-content">
            <p>{{r.description}}</p>
                <p><a href="/restaurants/{{r.id}}" class= "menu-item-link">Read Reviews</a></p></div>
    </li>

    {% endfor %}
{% else %}
    <p>No restaurants are available</p>
{% endif %}
</ul>
</div>
</div>
</div>
<div class="col-md-3">
</div>
{% endblock %}
