<!-- This page will list all the reviews for a restaurant in our DB-->
{% extends 'ourapp/master.html' %}
{% block page_title %}{{restaurant.name}}{% endblock %}
{% block page_header %}{% include "ourapp/restaurant_header.html" %}{%endblock%}
{% block main_content %}
{% load staticfiles %}
<script src="{% static 'js/restaurant.js'%}"></script>
<div class="col-md-3">
</div>
<div class="col-md-6" id="reviews">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Restaurant Reviews</h3>
        </div>
        <div class="panel-body">
<ul class="list-group food-list">
{% if customer_reviews %}
    {% for review in customer_reviews %}
        <li class = "list-group-item food-item">{{review.customer}}
        <div class="food-item-content">
            <p>{{review.review_comment}}</p>
                <p><a href="/customers/{{review.customer.id}}" class="menu-item-link">User bio</a></p></div>
        </li>
    {% endfor %}
{% else %}
    <p>No Customer Ratings</p>
{% endif %}
</ul>
</div>
</div>
<div class="col-md-3">
</div>
{% endblock %}